.main {
  padding: 0 1rem 1rem;

  &--form {
    min-height: $mainHeight;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &--nav {
    min-height: $mainWidthNavHeight;
  }
}
