@font-face {
  font-family: "thirsty_capsregular";
  src: url("/fonts/thirstycaps-webfont.woff2") format("woff2"),
    url("/fonts/thirstycaps-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nickainley";
  src: url("/fonts/Nickainley-Normal.woff2") format("woff2"),
    url("/fonts/Nickainley-Normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
