// COLORS
$primary25: #9dfdaf; // very light green
$primary50: #43d9ac; // light green
$primary75: #00b9a2; // medium green TITLE
$primary: #017a6c; // dark green
$primaryContrast: #1e2329; // dark grey text on green
$primaryContrastLight: #ffffff; // white text on green

// FONTS
$fontText: "Urbanist", Arial, Helvetica, sans-serif !default;

// TEXT AND TITLE SIZE
$textXS: 1rem; // 16px
$textSM: 1.25rem; // 20px
$textMD: 1.5rem; // 24px
$textLG: 2rem; // 32px
$textXL: 3rem; // 48px
$textXXL: 4rem; // 64px

// SIZES
// $mainHeight: calc(100dvh - 106px);
// $mainWidthNavHeight: calc(100dvh - 172px);
// $captureInMainHeight: calc(100% - 103px);
// $pictureInMainHeight: calc(100% - 132px);
// $captureInMainWidth: calc($captureInMainHeight / 4 * 3);
