.header {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: bottom;
  gap: 1rem;

  &__title {
    font-weight: 600;
    margin: 0;
    @include pxToRem(64);
    color: $primary75;
  }

  &__logoWrapper {
    width: 60px;
    img {
      max-width: 100%;
    }
  }
}
